<div class="col-sm-4 col-xs-12">
  <div class="productBox">
    <%= link_to potepan_product_path(products.id) do %>
      <div class="productImage clearfix">
        <%= image_tag(products.display_image.attachment(:large), itemprop: "img") %>
      </div>
      <div class="productCaption clearfix">
        <h5><%= products.name %></h5>
        <h3><%= products.display_price %></h3>
      </div>
    <% end %>
  </div>
</div>
