<% provide(:title, @taxon.name ) %>
<div class="main-wrapper">
  <%= render 'light_section', taxon: @taxon %>

  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <!-- CATEGORY SECTION-->
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render 'product_category', taxonomies: @taxonomies %>
          <%= render 'color_category' %>
          <%= render 'size_category' %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <!-- SORT SECTION-->
          <%= render 'sort' %>
          <!-- PRODUCT SECTION-->
          <%= render partial: 'products', collection: @products %>
        </div>
      </div>
    </div>
  </section>
</div>
