<% provide(:title, "#{@product.name}")%>

<!-- LIGHT SECTION -->
<%= render 'light_section', product: @product %>
<!-- MAIN CONTENT SECTION -->
<%= render 'main_content_section', product: @product %>
